.about-us-container {
    padding: 20px;
    color: #333; /* Text color */
}

.about-us-header {
    margin-bottom: 40px;
}

.about-us-header h1 {
    color: #005792; /* Heading color */
}

.about-us-content h2,
.about-us-values h2 {
    color: #005792; /* Heading color */
    margin-bottom: 20px;
}

.about-us-values ul {
    list-style-type: disc;
    margin-left: 20px;
}

.about-us-footer {
    margin-top: 40px;
}
